body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin: 0px;
}
button:hover {
  background-color: lightgray;
}
a {
  margin-top: 10px;
}
ul {
  list-style-type: disc;
  padding-inline-start: 0px;
}

.field {
  display: flex;
  background-color: aliceblue;
  height: 90vh;
  justify-content: space-evenly;
}
.player {
  background-color: #a259e3;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.computer {
  background-color: #d69ab1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.buttons {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #f8f8ff;
  height: calc(10vh - 40px);
}
.bottom-buttons {
  width: 200px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
}
.playerButtons {
  width: 400px;
  padding: 20px;
}
.playerButton {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
}
#rules-button {
  margin-bottom: 10px;
}

.computer-move-log,
.player-move-log {
  overflow-y: scroll;
  height: 125px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid;
  width: 250px;
}
#computer-fatigue {
  width: 45vw;
  height: 30px;
  margin-top: 30px;
}

#player-fatigue {
  width: 45vw;
  height: 30px;
  margin-top: 27px;
}

#gojo {
  width: 100px;
  margin-bottom: 5px;
}
#sukana {
  width: 300px;
}

.player-stats,
.computer-stats {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
}

#rng-sukana {
  margin-top: 20px;
}
